/* ENTIRE PAGE */
.UploadForm {
    background-color: #fffbef;
    margin: 0 0 0 0;
    min-width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

/* COLUMN 1, 2 */
.UploadForm-col {
    /* border: black 1px solid; */
    margin: 3%;
}
/* COLUMN 1 */
.UploadForm-col1 {
    margin-left: 13%;
}
/* COLUMN 2 */
.UploadForm-col2 {
    margin-right: 13%;
}
/* COLUMN TITLES */
.UploadForm-title {
    margin: 20% 8% 12% 8%;
    
}
/* COLUMN 1 INFO */
.UploadForm-info {
    text-align: left;
    margin: 5%;
}
/* ACTUAL UPLOAD FORM */
.UploadForm-form {
    text-align: left;
    
}
/* FORM LABELS */
form label {
    margin: 1%;
}
/* BUTTON DIV */
.UploadForm-btn {
    margin: 5% 0 5% 0;
}
.submit-btn-text {
    font-size: 1.3em;
}