/* ENTIRE PAGE */
.UploadForm {
    background-color: #fffbef;
    margin: 0 0 0 0;
    min-width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

/* COLUMN 2 IN UploadPage.js */
.UploadForm-col2 {
    margin-right: 13%;
}
/* FORM TITLE */
.UploadForm-title {
    margin: 20% 8% 12% 8%;
    
}
/* FORM */
.UploadForm-form {
    text-align: left;
    
}
    /* FORM LABELS */
    form label {
        margin: 1%;
    }
    /* BUTTON DIV */
    .UploadForm-btn {
        margin: 5% 0 5% 0;
    }
    .submit-btn-text {
        font-size: 1.3em;
    }