<%- include('partials/navbar-partial') %>

<!-- Partial for <head>  -->
<%- include('partials/head-partial') %>
<!-- Link to stylesheet  -->
<link rel="stylesheet" href="./../css/collaborator-page-styles.css">

<body>
    <div class="container">
       
        <br><h1>Upload your Project</h1> <br>

        <form action="http://127.0.0.1:8000/uploadproject" method="post">

            <label for="creator_name">Enter your name:</label>
            <input id="creator_name" type="text" placeholder="Your name"> <br><br>

            <label for="project_name">Enter project name:</label>
            <input id="project_name" type="text" placeholder="Project name"> <br><br>

            <input type="file" id="file" name="file"> <br><br>

            <label for="published">Is your piece published?</label>
            <input id="published" type="checkbox" name="published" unchecked> <br><br>

            <label for="needs">What would you like your collaborator(s) to contribute?</label>
            <input id="needs" type="text" placeholder="Projects needs"> <br><br>

            <label for="genre">What genre characterizes your project?</label>
            <input id="genre" type="text" placeholder="Project genre"> <br><br>

            <a class="btn btn-dark" id="home-intro-btn" href="/" role="button">
                <span>
                Upload project >
                </span>
            </a>

        </form>

    </div>
    
</body>