/* GLOBAL */
a {
    text-decoration: none;
}

/* HEADER */

.blog-main-header {
    text-align: center;
    font-size: 2em;
    color: white;

    padding: 2% 0;
    margin-bottom: 0%;

    /* background gradient */
    background: #C33764; 
    background: -webkit-linear-gradient(to right, #C33764, #1D2671); 
    background: linear-gradient(to right, #C33764, #1D2671); 
}

/* CONTENT COL 1: MENU */
.blog-menu-col {
    /* background-color: #e7e0d2;  */
    background-color: white; 
    padding: 1% 1%;
    border: 3px groove rgb(211, 211, 211);
    border-radius: 1em;

    height: 760px;
    overflow: auto;
}
    .topic-menu-item {
        margin-left: 70%;
        padding: 0;
    }
    #topic-menu-item-text {
        color: black;
        font-weight: 550;
        font-size: 1.2em;
    }
    #topic-menu-item-text:hover {
        text-decoration: underline;
    }
    .topic-menu-item-selected {
        filter: drop-shadow(0 0 0.75rem crimson);
    }

/* CONTENT COL 2: CARDS */
.blog-content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-cards-container {
    margin: 1%;
    margin-right: 2%;
}
.topic-card {
    margin: 3% 0;
}
    .card-body {
        height: 250px;
        overflow: auto;
    }
        .card-header, .card-footer {
            background-color: rgba(224, 224, 224, 0.712);
            color: black;
        }
        .blog-intro-p {
            font-size: 1.2em;
            font-weight: 500;
            text-align: center;

            padding: 0 20%;
        }
        


