<link rel="stylesheet" href="/css/footer-styles.css">

<footer>
    <div class="row footer-row">
        <div class="col footer-col" id="footer-col">
            <h2 class="footer-header">Plan to use MuseShare? Create a forever-free account.</h2>
            <form>
                <input id="footer-input-box" type="text" placeholder="email@domain.com" name="email">
                <br>
                <button id="subscribe-btn" class="btn btn-dark">
                    <span id="subscribe-btn-text">Create account ></span>
                </button>
            </form>

        </div>
    </div>
</footer>